<html>

<head>
	<title>Online multiplayer chess</title>
	<link rel="stylesheet" href="/static/_lib/bootstrap-css-only/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>

<body ng-app="chess">

	<div class="container chessboard" ng-controller="GameController">
		<div class="row" ng-repeat="row in board track by $index">
			<div class="square" ng-repeat="square in row track by $index" ng-class="{'even':(square.rank+square.file)%2===0,'odd':(square.rank+square.file)%2!==0,'highlighted-move':square.highlightedMove,'highlighted-capture':square.highlightedCapture}">
				<img ng-if="square.piece" ng-src="/static/data/icons/{{((square.piece.side===1)?'w':'b')+square.piece.type}}.png" />
			</div>
		</div>
	</div>

	<script src="/static/_lib/jquery/dist/jquery.js "></script>
	<script src="/static/_lib/angular/angular.js "></script>
	<script src="/static/_lib/angular-bootstrap/ui-bootstrap.js "></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/current-game/pieces/piece.js "></script>
	<script src="/static/js/current-game/pieces/bishop.js "></script>
	<script src="/static/js/current-game/pieces/king.js "></script>
	<script src="/static/js/current-game/pieces/knight.js "></script>
	<script src="/static/js/current-game/pieces/pawn.js "></script>
	<script src="/static/js/current-game/pieces/rook.js "></script>
	<script src="/static/js/current-game/pieces/queen.js "></script>
	<script src="/static/js/current-game/game.js "></script>

</body>

</html>
