body {
	background: white;
	background: -webkit-linear-gradient(white, #999999);
	background: -o-linear-gradient(white, #999999);
	background: -moz-linear-gradient(white, #999999);
	background: linear-gradient(white, #999999);
	height: 100%;
}
.list-box {
	margin: auto;
	margin-top: 10%;
	background: white;
	width: 50%;
	border: 1px solid black;
	border-radius: 10px;
}
.page-header {
	border-bottom: 1px solid #cccccc;
}
#usr {
	display: inline-block;
	width: 11em;
	float: right;
}
.game-container {
	width: 800px;
	margin: auto;
}
.panel-message {
	margin-top: 20px;
	border: 1px solid black;
}
.chessboard {
	width: 800px;
	height: 802px;
	padding: 0px;
	border: 1px solid black;
}
.chessboard * {
	margin: 0px;
	padding: 0px;
}
.chessboard .square {
	float: left;
	height: 12.5%;
	width: 12.5%;
}
.even {
	background-color: white;
}
.odd {
	background-color: black;
}
.highlighted-move {
	background-color: yellow;
}
.highlighted-capture {
	background-color: red;
}
div > img {
	width: 100%;
	height: 100%;
}
