<div class="game-container" ng-controller="GameController">

	<div class="">

	</div>

	<div class="container chessboard">
		<div class="row" ng-repeat="row in board track by $index">
			<div class="square" ng-repeat="square in row track by $index" ng-class="{'even':(square.rank+square.file)%2===0,'odd':(square.rank+square.file)%2!==0,'highlighted-move':square.highlightedMove,'highlighted-capture':square.highlightedCapture}" ng-click="selectSquare($parent.$index,$index)">
				<img ng-if="square.piece" ng-src="/static/data/icons/{{((square.piece.side===1)?'w':'b')+square.piece.type}}.png" />
			</div>
		</div>
	</div>

	<div class="panel panel-default panel-message">
		<div class="panel-body"></div>
	</div>
</div>
